.footerLayout {
    font-size: 12pt;
    text-align: center;

    display: inline-grid;
    grid-template-columns: 1fr auto 1fr;

    grid-template-areas: '. footerLinks .';
}

.footerWrapper {
    grid-area: footerLinks;

    line-height: 1.5em;
    letter-spacing: 0.075em;
}
