.footerLayout {
    display: inline-grid;

    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    grid-template-areas: '. footerLinks .';
}

.footerWrapper {
    grid-area: footerLinks;
    justify-self: center;

    line-height: 1.5em;
    letter-spacing: 0.075em;
    text-align: center;
}

.footerItem {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
