.leftAlign {
    text-align: left;
    padding-left: 40px !important;
}

.reveal .blockquoteBlack {
    background-color: rgba(34, 34, 34, 0.75) !important;
    color: #fff;
    padding: 25px;
}

.blockquoteBlack h1,
.blockquoteBlack h2,
.blockquoteBlack h3,
.blockquoteBlack h4 {
    color: #fff !important;
}

.reveal .blockquoteWhite {
    background-color: rgba(255, 255, 255, 0.4) !important;
    color: #000;
    padding: 25px;
}

.mainFooter {
    background-color: rgba(34, 34, 34, 0.75) !important;
}

.twoCol {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

.reveal.overview .slides section.present {
    outline-color: #f93d1e;
    outline-width: 30px;
}
