.app {
    display: grid;
    grid-template-rows: 0.25fr auto 1fr;
    grid-template-columns: 1fr;

    grid-template-areas:
        'header'
        'contentBody'
        'footer';

    grid-gap: 10px;
}

.header {
    background: #f3f6fa;
    grid-area: header;
}

.contentBody {
    grid-area: contentBody;
}

.footer {
    grid-area: footer;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 1.5em;
}

nav ul li a {
    color: inherit;
    line-height: 1em;
}

nav ul li.active > a,
nav ul li:hover > a {
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
