.heroImage {
    background-attachment: scroll, scroll, scroll, fixed;
    background-color: #645862;
    background-image: url('../../images/light-bl.svg'),
        url('../../images/light-br.svg'), url('../../images/overlay.png'),
        url('../../images/banner.jpg');
    background-position: bottom left, bottom right, top left, top center;
    background-repeat: no-repeat, no-repeat, repeat, no-repeat;
    background-size: 25em, 25em, auto, cover;
}
